<div class="question-container">
    <h2>Question {{ currentStep + 1 }}</h2>
    <p>{{ questions[currentStep].text }}</p>
    <ul>
      <li *ngFor="let option of questions[currentStep].options; let i = index">
        <label>
          <input type="radio" [value]="i" [checked]="selectedOption === i" (change)="selectOption(i)">
          {{ option.text }}
        </label>
      </li>
    </ul>
    <div class="buttons">
      <button [disabled]="currentStep === 0" (click)="previousStep()">Previous</button>
      <button [disabled]="showResult" (click)="nextStep()">{{ currentStep === questions.length - 1 ? 'Submit' : 'Next' }}</button>
    </div>
    <div class="total-score-container" *ngIf="showResult">
        <h2>Your Total Score</h2>
        <p>{{ totalScore }}</p>
    </div>
</div>
  