<div class="question-container">
  <h2 class="question-title">Question {{ currentStep + 1 }}</h2>
  <p class="question-text" >{{ questions[currentStep].text }}</p>
  <div class="options-list">
    <div *ngFor="let option of questions[currentStep]?.options; let i = index" class="option-item" (click)="selectOption(i)">
      <input
        type="text"
        [ngModel]="option.text"
        readonly
        [@fadeInOut]
      />
    </div>
  </div>
  <div class="button-container">
    <button class="previous-button" [disabled]="currentStep === 0" (click)="previousStep()">Previous</button>
    <button class="next-button" [disabled]="showResult" (click)="nextStep()">{{ currentStep === questions.length - 1 ? 'Submit' : 'Next' }}</button>
  </div>
</div>
